@font-face
{
    font-family: "Bravura";
    src: url("../fonts/Bravura.otf");

}

Text
{
    -fx-font-family: Bravura;
    -fx-font-size: 40px; /*80*/
    -fx-padding: 0px;
}

Button
{
    -fx-font-family: Bravura;
    -fx-font-size: 40px;
    -fx-padding: 0px;
    -fx-max-width: 60px !important;
    -fx-max-height: 60px !important;
    -fx-pref-width: 60px !important;
    -fx-pref-height: 60px !important;
    -fx-line-height: 1.5;
}

.nuteItem
{
    -fx-border-color: #AAAAAA;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

Image:hover
{
    -fx-background-color: red;
}